* {
    border: 0;
    margin: 0;
}

input[type="text"] {
    margin: 0 auto;
    display: block;
}

input[type="number"] {
    margin: 0 auto;
    display: block;
}

input {
    width: 200px;
    padding: 5px;
    margin-bottom: 5px;
}

body {
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: space-around;
}

.coll {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
}

.form {
    border: 1px solid black;
    text-align: center;
    width: 70px;
    height: 10px;
}

#result {
    text-align: center;
}

#dataReferencia {
    text-align: center;
    width: 110px;
    font-size: 15px;
}

#mediaKwh {
    text-align: center;
    width: 80px;
}

#vlMedio {
    text-align: center;
    margin-top: 18px;
    border: 2px solid black;
    cursor: pointer;
    display: block;
    height: 40px;
    width: 150px;
    background-color: white;
    border-radius: 10px;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#btn {
    cursor: pointer;
    border-radius: 90px;
    height: 40px;
    width: 100px;
    background-color: white;
    border: 2px solid black;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navigation a {
    text-decoration: none;
    color: white;
}

.navigation nav {
    margin: 10px;
}

.navigation {
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-transform: uppercase;
    background-color: #24292f;
    height: 50px;
    font-size: 23px;
}

.navigation a:hover {
    text-decoration: none;
    color: grey;
}

@media (max-width: 590px) {
    .navigation {
        height: 45px;
        font-size: 20px;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .coll {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 590px) {
    .navigation {
        height: 45px;
        font-size: 19px;
    }

    h1 {
        font-size: 27px;
    }

    #resultMobile {
        margin-top: 15px;
    }

    #vlMedio {
        height: 40px;
        width: 110px;
        font-size: 14px;
    }

}

@media (max-width: 500px) {
    .navigation {
        height: 45px;
        font-size: 19px;
    }

    h1 {
        font-size: 26px;
    }
}

@media (max-width: 450px) {
    .navigation {
        height: 40px;
        font-size: 18px;
    }

    h1 {
        font-size: 25px;
    }

}

@media (max-width: 400px) {
    .navigation {
        height: 40px;
        font-size: 16px;
    }

}

@media (max-width: 350px) {
    .navigation {
        height: 35px;
        font-size: 14px;
    }

    h1 {
        font-size: 18px;
    }
}