html {
    font-size: 20px;
}

* {
    border: 0;
    margin: 0;
}

input[type="text"] {
    margin: 0 auto;
    display: block;
}

input[type="number"] {
    margin: 0 auto;
    display: block;
}

input {
    width: 10rem;
    padding: 0.25rem;
    margin-bottom: 0.25rem;
}

body {
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: space-around;
}

.coll {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
}

.form {
    border: 0.05rem solid black;
    text-align: center;
    width: 3.5rem;
    height: 0.5rem;
    font-size: 0.85rem;
}

#result {
    text-align: center;
}

#dataReferencia {
    text-align: center;
    width: 6.2rem;
    font-size: 0.85rem;
}

#mediaKwh {
    text-align: center;
    width: 4rem;
}

#vlMedio {
    text-align: center;
    margin-top: 0.9rem;
    border: 0.1rem solid black;
    cursor: pointer;
    display: block;
    height: 2rem;
    width: 7.5rem;
    background-color: white;
    border-radius: 0.5rem;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

#btn {
    cursor: pointer;
    border-radius: 4.5rem;
    height: 3.25rem;
    width: 6.25rem;
    background-color: white;
    border: 0.1rem solid black;
    font-size: 1.05rem;
}

h1 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.navigation a {
    text-decoration: none;
    color: white;
}

.navigation nav {
    margin: 0.5rem;
}

.navigation {
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-transform: uppercase;
    background-color: #24292f;
    height: 2.5rem;
    font-size: 1.15rem;
}

.navigation a:hover {
    text-decoration: none;
    color: grey;
}

@media (max-width: 770px) {
    .container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media (max-width: 590px) {
    .navigation {
        height: 2.25rem;
        font-size: 0.95rem;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .coll {
        display: flex;
        align-items: center;
    }

    h1 {
        font-size: 1.72rem;
        white-space: pre-line;
    }

    #resultMobile {
        margin-top: 0.75rem;
    }

    #vlMedio {
        height: 2rem;
        width: 5.5rem;
        font-size: 0.7rem;
    }
}


@media (max-width: 500px) {
    .navigation {
        height: 2.25rem;
        font-size: 0.95rem;
    }

    h1 {
        font-size: 1.3rem;
    }
}

@media (max-width: 450px) {
    .navigation {
        height: 2rem;
        font-size: 0.9rem;
    }

    h1 {
        font-size: 1.25rem;
        white-space: pre-line;
    }

}

@media (max-width: 400px) {
    .navigation {
        height: 2rem;
        font-size: 0.8rem;
    }

}

@media (max-width: 350px) {
    .navigation {
        height: 1.75rem;
        font-size: 0.7rem;
    }

    h1 {
        font-size: 1.1rem;
        white-space: pre-line;
    }
}